<div class="recipedetail">
  <h1>{{title}}</h1>
  <div class="author">
    <h2>Author: {{userID}}</h2>
  </div>
  <p class="ingredients">Ingredients: {{ingredients}}</p>
  <p class="instructions">Instructions: {{instructions}}</p>
  </div>
</div>


{{!-- <script src="../public/js/recipedetail.js"></script> --}}
{{!-- <h1>{{title}}</h1>
<h2>{{author}}</h2>
<ul>
<h3>{{ingredients}}</h3>
<h3>{{instructions}}</h3>
</ul> --}}