<div class="recipedetail">
  <h1>Recipe:{{title}}</h1>
  <div class="author">
    <h2>Author: {{userID}}</h2>
  </div>
 {{#if ingredients}}
  <p class="ingredients">Ingredients: {{ingredients}}</p>
{{else}}
  <p class="ingredients">Ingredients: Not provided</p>
{{/if}}
   {{#if instructions}}
  <p class="instructions">Instructions: {{instructions}}</p>
{{else}}
  <p class="instructions">Instructions: Not provided</p>
{{/if}}

  </div>
</div>


{{!-- <script src="../public/js/recipedetail.js"></script> --}}
{{!-- <h1>{{title}}</h1>
<h2>{{author}}</h2>
<ul>
<h3>{{ingredients}}</h3>
<h3>{{instructions}}</h3>
</ul> --}}