<div class="userrecipes">
  <h4>Popped Recipe: {{userID}}</h4>
<h1>{{ userID}}'s Recipes</h1>

<ul>
  {{#each result}}
    <li>
      <h2>{{title}}</h2>
      <p>Ingredients: {{ingredients}}</p>
      <p>Instructions: {{instructions}}</p>
    </li>
  {{/each}}
</ul>
</div>

{{!-- <script src="../public/js/recipedetail.js"></script> --}}
{{!-- <h1>{{title}}</h1>
<h2>{{author}}</h2>
<ul>
<h3>{{ingredients}}</h3>
<h3>{{instructions}}</h3>
</ul> --}}